#inventorySearchWidget .isTitle {
    font-weight: bold;
}
#inventorySearchWidget .radio-inline label {
    font-size: 14px;
}
/*------------------------------------* 
    $WIDGET_INVENTORY SEARCH 
\*------------------------------------*/

#inventorySearchWidget .input-group-sm .form-control {
    height: 26px;
    padding: 4px 5px;
}
@media (max-width: 1199px) {
    #inventorySearchWidget .input-group-sm .form-control {
        height: 22px;
        padding: 2px 5px;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    #inventorySearchWidget .margin-bottom_5x {
        margin-bottom: .25em;
    }
}
@media (max-width: 991px) {
    #inventorySearchWidget .input-group-sm .form-control {
        height: 30px;
    }
}
@media (max-width: 767px) {
    #inventorySearchWidget .input-group-sm .form-control {
        height: 36px;
    }
}
@media (max-width: 991px) and (min-width: 540px) {
    #isVehicleInfo .col-sm-6:nth-child(2n+1) {
        padding-right: 7px;
        margin-bottom: .75em;
    }
    #isVehicleInfo .col-sm-6:nth-child(2n+2) {
        padding-left: 7px;
        margin-bottom: .75em;
    }
    #isVehicleInfo .col-sm-6:nth-child(2n+1):last-child {
        width: 100%;
        padding-right: 15px;
    }
}
